@model IEnumerable<GestionHotel.WebApplication.Models.TipoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipos de Cabaña</h1>

@if (Model != null)
{
    <p>
        <a asp-action="Create">Añadir Tipo</a>
    </p>
}
@if (Model == null || Model.Count() == 0)
{
    <div class="alert alert-warning" role="alert">
        No existe ningún tipo en la base de datos.
    </div>

    
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostoPorHuesped)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostoPorHuesped)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-nombre="@item.Nombre">Editar</a> |
                        <a asp-action="Details" asp-route-nombre="@item.Nombre">Detalles</a> |
                        <a asp-action="Delete" asp-route-nombre="@item.Nombre">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
}
