@model GestionHotel.WebApplication.Models.CabaniaModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar esta cabaña?</h3>
<div>
    <h4>Cabaña</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNombre)
        </dd>
        <dt class = "col-sm-2">
            Costo por Huésped
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCostoPorHuesped)
        </dd>
        <dt class = "col-sm-2">
            Jacuzzi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoseeJacuzzi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitada)
        </dd>
        <dt class = "col-sm-2">
            Número de Habitación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroHabitacion)
        </dd>
        <dt class = "col-sm-2">
            Capacidad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCupos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Nombre" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>

@if (ViewBag.NombreError != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.NombreError
    </div>
}
